#lanuage
language: python
#version
python:
  - "3.6"
# command to install dependencies
install:
  - pip install
  - pip install -r requirements.txt
  - pip install coveralls
services:
  - postgresql
before_script:
  - psql -c 'create database test.db' -U sqlite
# command to run tests
script: nosetests --exe -v --with-coverage --cover-package=app

after_success: coveralls